html, body {
  margin: 0;
  padding: 0;
}

#map {
  height: 90vh;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  box-sizing: border-box;
  align-self: stretch;
  align-items: center;
  width: 100%;
  height: 56px;
  padding: 24px 16px;
  color: #fff;
  background: #9C27B0;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.container {
}